<body>
  <% if @book.errors.any? %>
   <%= @book.errors.count %>error prohibited this book from being saved:
   <% @book.errors.full_messages.each do |message| %>
    <%= message %>
   <% end %>
  <% end %>
  
  
   <div class="container px-5 px-sm-0">
     <div class="row">
      
      <div class="col-md-3">
        
        <h1>User info</h1>
        <%= attachment_image_tag @current_user, :profile_image, :fill, 63, 63, fallback: "no_image.jpg", size: '63x63' %>
        <table class="table">
         <tr><th>name</th><td><%= @current_user.name %></td></tr>
         <tr><th>introduction</th><td><%= @current_user.introduction %></td></tr>
        </table>
        <%= link_to 'edit', edit_user_path(current_user), class:"btn btn-outline-secondary btn-blok fas fa-user-cog" %>
        
      
        <h1>New book</h1>
        <%= form_with model: @book, local:true do |f| %>
          <h4>Title</h4>
          <%= f.text_field :title %>
          <h4>Opinion</h4>
          <%= f.text_area :body %>
          <%= f.submit 'Create Book' %>
        <% end %>
      </div>

      <div class="col-md-8 offset-md-1">

        <h1>Users</h1>
      
        <table class="table">
          <thead>
            <tr>
              <th>image</th>
              <th>name</th>
              <th></th>
            </tr>
          </thead>
      
          <tbody>
            <% @users.each do |user| %>
             <tr>
               <td><%= attachment_image_tag user, :profile_image, :fill, 63, 63, fallback: "no_image.jpg", size: '40x40' %></td>
               <td><%= user.name %></td>
               <td><%= link_to 'Show', user_path(user) %></td>
             </tr>
            <% end %>
          </tbody>
        </table>
      </div>
     </div>
</body>